<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmyf.mcp.mapper.mcp.McpConfigApiMapper">

    <!-- 通用查询结果 -->
    <resultMap id="BaseResultMap" type="com.mmyf.mcp.model.entity.mcp.McpConfigApi">
        <id column="c_id" property="id" />
        <result column="c_mcp_service_id" property="mcpServiceId" />
        <result column="c_system_id" property="systemId" />
        <result column="j_api_ids" property="apiConfig" typeHandler="com.mmyf.commons.mybatis.PostgreSQLJsonTypeHandler" />
        <result column="c_env_id" property="envId" />
        <result column="dt_create_time" property="createTime" />
        <result column="dt_modify_time" property="modifyTime" />
    </resultMap>

</mapper>
