.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
mcp-gateway-server/src/main/resources/static/

target/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

*.iml
*.log
*.zip
logs
/rebel.xml


# AI Log Plugin 推荐忽略项
.specstory/
.ailog/
/.cursorindexingignore
