<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmyf.commons.mapper.role.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmyf.commons.model.entity.role.Role">
        <id column="c_id" property="id" />
        <result column="c_name" property="name" />
        <result column="c_descript" property="descript" />
        <result column="c_valid" property="valid" />
        <result column="n_order" property="nOrder" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        c_id, c_name, c_descript, c_valid, n_order
    </sql>

</mapper>
