<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmyf.commons.mapper.role.RoleRightMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmyf.commons.model.entity.role.RoleRight">
        <id column="c_id" property="id" />
        <result column="c_role_id" property="roleId" />
        <result column="c_rightkey" property="rightkey" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        c_id, c_role_id, c_rightkey
    </sql>

</mapper>
