<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmyf.commons.mapper.organ.TenantMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mmyf.commons.model.entity.organ.Tenant">
        <id column="c_id" property="id"/>
        <result column="n_external_nid" property="externalNid"/>
        <result column="c_external_cid" property="externalCid"/>
        <result column="c_name" property="name"/>
        <result column="c_pid" property="pid"/>
        <result column="n_level" property="level"/>
        <result column="c_alias" property="alias"/>
        <result column="c_valid" property="valid"/>
        <result column="n_order" property="nOrder"/>
        <result column="lc_ext" property="ext"/>
        <result column="dt_create_time" property="createTime"/>
        <result column="dt_last_modify" property="modifyTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        c_id, n_external_nid, c_external_cid
        , c_name, c_pid, n_level, c_alias, c_valid, n_order, lc_ext, dt_create_time, dt_last_modify
    </sql>

</mapper>
